<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Video comparisons</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/pygal-tooltips.min.js" %}"></script>
</head>

<body>
    <h1 class="text-center header">Youtube Stats</h1>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

</body>

</html>
