{% extends "stats/base.html" %}

{% load timeformat %}

{% block content %}
    <div class="row">
        {% for channel, video_count, recent_publish_time, publish_stats in channels %}
            <div class="col">
                <div class="card mx-auto" style="width: 18rem;">
                    <a href="https://www.youtube.com/channel/{{ channel.channel_id }}">
                        <img src="{{ channel.thumbnail_url }}" class="card-img-top" alt="{{ channel.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://www.youtube.com/channel/{{ channel.channel_id }}">{{ channel.title }}</a>
                        </h5>
                        <p class="card-text">{{ channel.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    {% for channel, video_count, recent_publish_time, publish_stats in channels %}
        <div class="row">
            <div class="col">
                <strong>{{ channel.title }}</strong> has posted {{ video_count }}
                video{{ video_count|pluralize }}, with the most recent on
                {{ recent_publish_time|date }}.
            </div>
            <div class="col">
            {% if publish_stats.avg %}
                <strong>{{ channel.title }}</strong> takes about {{ publish_stats.avg|timesince }} between
                videos, the longest wait being
                {{ publish_stats.longest_drought|timesince }}
            {% endif %}
            </div>
            <div class="col">
            {% if publish_stats.avg %}
                <strong>{{ channel.title}} </strong> should be posting a video by
                {{ publish_stats.next_video_date }} based on his habits
            {% endif %}
            </div>
        </div>
    {% endfor %}
    <hr>
    <div class="row">
        <div class="col">
            {{ charts.amount_of_videos|safe }}
        </div>
        <div class="col">
            {{ charts.amount_of_views|safe }}
        </div>
        <div class="col">
            {{ charts.amount_of_likes|safe }}
        </div>
        <div class="col">
            {{ charts.amount_of_comments|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ charts.published_videos|safe }}
        </div>
    </div>
{% endblock %}
