.header {
    color: #6EFCBB;
    font-weight: bold;
    font-size: 4em;
    font-family: sans-serif;
    text-shadow: .15ex .15ex 0px #4AB18E;
    line-height: 2em;
    letter-spacing: 1ex;
    text-transform: uppercase;
}
