{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <a class="addlink" href="add-by-username/">Add by username</a>
    <br/>
    <a class="addlink" href="add-by-channel-id/">Add by channel ID</a>
    {{ block.super }}
{% endblock %}